@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.News4u-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

.News4u-container h2 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 6vh;
}

.News4u-container{
    margin-bottom: 67px;
    
}
.News4u-container img{
    width: 1700px;
    max-width: 100%;
}