@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.Looks-Container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 7vh;
    align-items: center;


}

.Looks-Container img{
    width: 400px;
    max-width: 100%;
}

.Looks-Container  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 6vh;
}
.cards-container{
    display: flex;
    gap: 25px;
}